.App {
  text-align: center;
  background: linear-gradient(135deg, #000310 0%, #2a0147 300%) !important;
  height: 100vh;
}

/* Sign in Page Styles */
.signin-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.signin-content {
  border-radius: 10px;
  padding: 2rem;
  width: 350px;
}

.signin-heading {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 1.5rem;
}

.signin-form-group {
  margin-bottom: 1rem;
}

.signin-form-group label {
  display: block;
  color: rgb(0, 0, 0);
  margin-bottom: 0.5rem;
}

.signin-form-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  outline: none;
}

.signin-form-input:focus {
  border-color: #A9A9A9; /* Darker gray when input is focused */
}

.signin-link {
  color: #A9A9A9; /* A bit brighter gray for links */
  text-decoration: none;
}

.signin-link:hover {
  text-decoration: underline;
}

.right-label {
  float: right;
}

.signin-button {
  background-color: #ffffff; /* Bright gray */
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signin-button:hover {
  box-shadow: 0 0px 16px rgb(255, 255, 255); /* X-offset, Y-offset, blur-radius, color */}

.signin-footer {
  margin-top: 1.5rem;
  text-align: center;
}

.signin-footer p {
  color: rgb(106, 29, 29);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
}

.video-page {
  display: flex !important;
  max-width:  1400px;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto; 

}

.video-container {
  width: 100%;
  max-width: 30%;
}

.ide {
 max-width: 50%;
}

.nav {
  display: flex;
  margin-top: 12px;
  font-weight: bold;
  font-size: 40px;
  margin-left: 68px;
  color: white;
}

@keyframes rainbow {
 
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 624px;
  margin-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid #dcdcdc;
}

.dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-button {
  background-color: #f8f8f8;
  color: black;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 1px solid #dcdcdc;
}

.arrow-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-left: 5px;
}


.ide__btn {
  background-color: transparent;

  border: black;
  cursor: pointer;
  color: white;
  margin-right: 28px;
  padding: 8px 24px;
  background-color: rgb(16, 253, 16);
  border-radius: 4px;

}


.console {
  display: flex;
  background-color: white;
  flex-direction: column;
  position: relative;
  padding-bottom: 10px;
}

.console-label {
  /* position: absolute; /* This ensures the label stays at the bottom */
  cursor: pointer;
  margin-left: 14px;
}

.console__output {
  flex: 0 1 auto; /* Allow the output to grow and shrink based on content */
    overflow: hidden; /* Prevent content from spilling over */
    opacity: 0;
    transform: translateY(-50%);
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.console-label,
.ide__btn {
    flex: none; /* These elements will not grow or shrink */
}

.console__output.visible {
  opacity: 1;
  transform: translateY(0);  /* or any other maximum height you prefer */
}

.console-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  width: 100%; /* ensure the controls take the full width of their parent */
}

